workDir = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow'

// apptainer {
//     enabled = true
//     autoMounts = true
//     cacheDir = '<APPTAINER_CACHEDIR>'
//     runOptions = '--containall --no-home'
// }

process {
    executor = 'slurm'
    queue = 'campus-new'
    errorStrategy = 'retry'
    maxRetries = 3
    withLabel: star_increasing_mem {
      errorStrategy = 'retry'
      memory = {64.GB * task.attempt}
      cpus = {8 * task.attempt}
      maxRetries = 3
    }
}

params {
  help = false
  // Input files
  manifest = false 
  // '/Volumes/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/RNAseq_Pipeline/sample_manifest.xlsx'
  //Reference data
  index = false
  // '/Volumes/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/RNAseq_Pipeline/Data_Logs/gencode.v29_RepBase.v24.01.idx'
  // Output location
  output = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow/'  
  // Set the containers to use for each component
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
}