workDir = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow'

// apptainer {
//     enabled = true
//     autoMounts = true
//     cacheDir = '<APPTAINER_CACHEDIR>'
//     runOptions = '--containall --no-home'
// }

process {
    executor = 'slurm'
    queue = 'campus-new'
    errorStrategy = 'retry'
    maxRetries = 3
    withLabel: star_increasing_mem {
      errorStrategy = 'retry'
      memory = {64.GB * task.attempt}
      cpus = {8 * task.attempt}
      maxRetries = 3
    }


// Need to find a method to set an env variable instead of using the actual token (which is a bad idea)
#tower {
#  accessToken = ''
#  enabled = false
#}

params {
  // Input files
  manifest = '/Volumes/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/RNAseq_Pipeline/sample_manifest.xlsx'
  //Reference data
  index = '/Volumes/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/RNAseq_Pipeline/Data_Logs/gencode.v29_RepBase.v24.01.idx'
  // Output location
  output = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow/'  
}