workDir = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow'

// apptainer {
//     enabled = true
//     autoMounts = true
//     cacheDir = '<APPTAINER_CACHEDIR>'
//     runOptions = '--containall --no-home'
// }

process {
    executor = 'slurm'
    queue = 'campus-new'
    errorStrategy = 'retry'
    maxRetries = 3
    withLabel: star_increasing_mem {
      errorStrategy = 'retry'
      memory = {64.GB * task.attempt}
      cpus = {8 * task.attempt}
      maxRetries = 3
    }

tower {
  accessToken = 'eyJ0aWQiOiA4MDc4fS44MGRiOWVjMmM5Y2YyODYyNzI1YWIwMDlkMDQwNjJmNDI1MzQxODAy'
  enabled = true
}

params {
  // Input files
  manifest = 'Manifest_Sample_Mapping_Nonsense.xlsx'
  output_dir = '/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow/'  
}